/* src/app/home/home.component.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .home-page {
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #242754;
    color: white;
  }
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .nav-links button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .login-btn {
    background-color: #10ca5e;
    color: white;
  }
  
  .signup-btn {
    background-color: #42aaff;
    color: white;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .intro-text {
    margin-right: 50px;
  }
  
  .intro-text h1 {
    font-size: 48px;
    color: #5f3b33;
  }
  
  .intro-text h3 {
    font-size: 24px;
    color: #6a5a5a;
  }
  
  .get-started-btn {
    background-color: #42aaff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .intro-image img {
    max-width: 250px;
    height: auto;
  }
  